div(class="modal fade", id="createContact", tabindex="-1", role="dialog", aria-labelledby="Create Contact", ng-controller="CreateContactCtrl", data-keyboard="false", data-backdrop="static")
  div(class="modal-dialog", role="document")
    div(class="modal-content")
      div(class="modal-header") 
        h3 Contact Details
      div(class="modal-body")
        form(ng-submit="createContact()", name="submitForm")
          div(class="alert alert-{{ alertType }}" ng-show="message") {{ message }}
          div(class="form-group")
            label(for="name") Name
            input(type="text", class="form-control", name="name", placeholder="Full Name", ng-model="contact.name", required)
          div(class="form-group")
            label(for="email") Email
            input(type="email", class="form-control", name="email", placeholder="Email", ng-model="contact.email", required)
          div(class="form-group")
            label(for="phone-number") Phone Number
            input(type="text", class="form-control", name="phone-number", placeholder="XXXX-XXXXXXX", ng-model="contact.phoneNumber", ng-blur="validatePhone()", required)
          div(class="form-group")
            label(for="city") City
            input(type="text", class="form-control", name="city", placeholder="City", ng-model="contact.city", required)
          input(type="submit", class="btn btn-success", value="Submit", ng-disabled="message")
      div(class="modal-footer")
        a(type="button", class="btn btn-default" href="/#/") Close