doctype html
html(lang="en", ng-app="phoneBook")
  head
    title= "PhoneBook App"
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/bower/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/builds/development/css/style.css")
    script(src='/bower/jquery/dist/jquery.min.js')
    script(src='/bower/bootstrap/dist/js/bootstrap.min.js')
    
  body(ng-controller="PhonebookCtrl")
    div(class="container main") 
      nav(class="navbar navbar-default")
        div(class="container-fluid")
          div(class="navbar-header")
            a(class="navbar-brand") PhoneBook App
      a(class="btn btn-success", href="#/create")
        span(class="glyphicon glyphicon-user")
        |  Create Contact
      div(class="empty" ng-hide="contacts")
        span Empty List
      div(class="panel panel-default  table-responsive", ng-show="contacts")
        div(class="panel-heading") Phonebook List
        table(class="table table-hover")
          thead
            tr
              th Name 
              th Phone Number
              th Email
              th City
              th Actions
          tr(ng-repeat="contact in contacts")
            td {{ contact.name }}
            td {{ contact.phoneNumber}}
            td {{ contact.email}}
            td {{ contact.city }}
            td
              a(ui-sref="view({ id: contact.id })" data-toggle="tooltip", title="View")
                span(class="glyphicon glyphicon-eye-open btn btn-primary")
              &nbsp;
              a(ui-sref="update({ id: contact.id })", title="Edit")
                span(class="glyphicon glyphicon-pencil btn btn-info")
              &nbsp;
              a(ui-sref="delete({ id: contact.id })", title="Delete")
                span(class="glyphicon glyphicon-trash btn btn-danger")
      <div ui-view></div>          
    script(src='/bower/angular/angular.min.js')
    script(src='/bower/angular-ui-router/release/angular-ui-router.min.js')
    script(src='/builds/development/js/app.js')
    script(src='/builds/development/js/phonebook.js')