body {
  background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/ignasi_pattern_s.png");
}
.container.main,
.table-responsive {
  margin-top: 10px;
}
.empty span {
  color: #cacaca;
  display: block;
  margin: 12% auto;
  width: 294px;
  font-size: 50px;
  background: rgba(255,255,255,0.23);
  padding: 15px 30px;
  border-radius: 50px;
}
